:host {
  width: 100%;
  @media only screen and (min-width: 425px) {
    width: 80%;
  }
  @media only screen and (min-width: 640px) {
    width: 60%;
  }
}

.carousel-wrapper {
  padding: 16px;
}

.carousel {
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 300ms ease-in-out;
    
    img {
      width: 200px;
      height: 200px;
      @media only screen and (min-width: 768px) {
        width: 300px;
        height: 300px;
      }
      @media only screen and (min-width: 1024px) {
        width: 400px;
        height: 400px;
      }
      &:hover {
        cursor: pointer;
      }
    }

    &--arrow {
      position: absolute;
      left: -24px;
      display: flex;
      height: 100%;
      align-items: center;
      border-radius: 10px;
      @media only screen and (min-width: 640px) {
        left: 0;
      }

      i {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: #E5E5E5;
        @media only screen and (min-width: 640px) {
          background: transparent;
        }

        &:hover {
          cursor: pointer;
          background: #E5E5E5 !important;
  
        }
      }
    }

    .right-arrow {
      left: auto !important;
      right: -24px;
      @media only screen and (min-width: 640px) {
        right: 0;
      }
    }
  }

  &__item {

    &--description {
      border-bottom: 1px solid black;
      display: flex;
      justify-content: space-between;
      
      .product-name {
        font-size: 1.2em;
      }

      .additional-info {
        display: flex;
        align-items: end;
        font-size: 0.8em;
      }
      
    }

    &--price {
      display: flex;
      justify-content: space-between;

      .left-side {
        width: 70%;
        margin-top: 24px;
        p {
          font-size: 1.6em;
          font-weight: 800;
          margin-block-end: 0;
          margin-block-start: 0;
        }
        span {
          font-size: 0.8em;
        }
      }

      .right-side {
        width: 30%;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .credit-cards-wrapper {
          display: flex;
          align-items: center;
          img {
            width: 40px;
          }
          .credit-card-margin {
            margin-right: 8px;
          }
        }
      }

    }
  }
}