:host {
  width: 100%;
  // background-image: url("/assets/images/background.jpg");
  // background-repeat: no-repeat;
  // background-position: bottom;
}

.carousel-wrapper {
  padding: 16px;
}

.carousel {

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 300ms ease-in-out;
    
    img {
      width: 200px;
      height: 200px;
    }

    &--arrow {
      position: absolute;
      left: -24px;
      display: flex;
      height: 100%;
      align-items: center;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background: 1px solid lightgray;

      }
    }

    .right-arrow {
      left: auto !important;
      right: -24px
    }
  }

  &__item {

    &--description {
      border-bottom: 1px solid black;
      display: flex;
      justify-content: space-between;
      
      .product-name {
        font-size: 1.2em;
      }

      .additional-info {
        display: flex;
        align-items: end;
        font-size: 0.8em;
      }
      
    }

    &--price {
      display: flex;
      justify-content: space-between;

      .left-side {
        width: 70%;
        margin-top: 24px;
        p {
          font-size: 1.6em;
          font-weight: 800;
          margin-block-end: 0;
          margin-block-start: 0;
        }
        span {
          font-size: 0.8em;
        }
      }

      .right-side {
        width: 30%;
        margin-top: 24px;
        .credit-cards-wrapper {
          display: flex;
          align-items: center;
          img {
            width: 40px;
          }
          .credit-card-margin {
            margin-right: 8px;
          }
        }
      }

    }
  }
}