<div *ngIf="carouselJSON" class="carousel-wrapper">
    <div *ngFor="let item of carouselJSON.content, index as i" class="carousel">
        <div class="carousel__image" *ngIf="i === carouselIndex">
            <a href="{{item.redirectTo}}" target="_blank">
                <img [src]="item.imgSrc">
            </a>
            <div class="carousel__image--arrow">
                <i class="material-symbols-outlined" (click)="previous()">navigate_before</i>
            </div>
            <div class="carousel__image--arrow right-arrow">
                <i class="material-symbols-outlined" (click)="next()">navigate_next</i>
            </div>
        </div>
        <div class="carousel__item" *ngIf="i === carouselIndex">
            <div class="carousel__item--description">
                <p class="product-name">
                    {{ item['product-name'] }}
                </p>
                <p class="additional-info">
                    {{ item['additional-info'] }}
                </p>
            </div>
            <div class="carousel__item--price" *ngIf="i === carouselIndex">
                <div class="left-side">
                    <p>
                        {{ item.price.installments }}
                    </p>
                    <span>sem juros*</span>
                    <p>
                        {{ item.price['installments-with-interest'] }}
                    </p>
                    <span>com juros*</span>
                </div>
                <div class="right-side">
                    <div class="credit-cards-wrapper">
                        <img class="credit-card-margin" *ngIf="item.price['accepted-cards'].includes('Mastercard')" src="./assets/images/mastercard.png">
                        <img *ngIf="item.price['accepted-cards'].includes('Visa')" src="./assets/images/visa.png">
                    </div>
                    <p>
                        ou {{ item.price['purchase-in-full'] }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>