:host {
    width: 100%;
    align-items: center;
    display: flex;

    width: 100%;
    @media only screen and (min-width: 425px) {
        width: 60%;
    }
}

.stores-wrapper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 3px solid #E37439;
    padding: 32px 32px 64px 32px;

    .title {
        border-bottom: 1px solid black !important;
        margin-bottom: 32px !important;
        &:hover {
            cursor: auto !important;
        }
    }

    .store {
        padding: 16px;
        margin: 0;
        width: 80%;
        text-align: center;
        font-weight: 400;
        font-size: 1.2em;
        text-decoration: none;
        color: #000000;
        border-bottom: 1px solid transparent;

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid black;
        }
    }
}