.header-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: "TiltWarp";
        font-size: 5em;
        background: linear-gradient(270deg, rgba(222,93,25,0.9332107843137255) 30%, rgba(237,140,88,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .logo {
        width: 150px;
    }

    p {
        width: 350px;
        text-align: center;
        line-height: 1.6;
    }
}