/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'TiltWarp';
    src: url('./assets/fonts/TiltWarp-Regular.ttf');
}

body, html {
    margin: 0px;

    font-family: 'Roboto';
    font-size: 14px;
}